name: CartApi - on-push-tags  ## To run, create a tag using one of the patterns below.

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]"
      - "[0-9]+.[0-9]+.[0-9]-staging"

jobs:
  deploy:
    uses: RempelOliveira/ArgoCD.Deployment/.github/workflows/deploy.yml@main
